.navContainer {
    background-color: #BBAF97;
    padding: 16px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);
}

.navContainer>nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navLink {
    font-size: 16px;
    color: #000000;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Kameron;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navLink:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navLink.active {
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 0.60);
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    background: linear-gradient(180deg, #5E5846 0%, #C4B992 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .navContainer>nav {
        justify-content: center;
        gap: 10px;
    }

    .navLink {
        font-size: 12px;
        padding: 6px 4px;
    }
}

@media (max-width: 375px) {
    .navLink {
        font-size: 10px;
        padding: 4px 2px;
    }
}