.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.movieForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 16px;
    padding-right: 37px;
    border-radius: 20px;
    font-size: 18px;
    color: #333;
    background: #F5F5F5;
    position: relative;
}

.formInput::placeholder {
    color: #DAD2C1;
    text-transform: uppercase;
}

.formButton {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 77px;
    width: 25px;
}

.submitIcon {
    width: 25px;
    height: 25px;
}

@media screen and (min-width: 768px) {
    .formInput {
        font-size: 20px;
    }

    .formButton {
        right: 34%;
    }
}

@media screen and (min-width: 1024px) {
    .formInput {
        font-size: 24px;
        padding: 13px 22px;
        padding-right: 54px;
    }

    .formButton {
        top: 97px;
        right: 0;
        left: 61%;
        width: 40px;
    }

    .submitIcon {
        width: 40px;
        height: 40px;
    }
}