.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.movieForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 13px 22px;
    padding-right: 54px;
    border-radius: 20px;
    font-size: 24px;
    color: #333;
    background: #F5F5F5;
    position: relative;
}

.formInput::placeholder {
    color: #DAD2C1;
    text-transform: uppercase;
}

.formButton {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 58%;
}

.submitIcon {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .formContainer {
        flex-direction: column;
        align-items: center;
    }

    .searchInput {
        margin-bottom: 10px;
        margin-right: 0;
    }
}