.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.movieForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    color: #333;
    background: #f0f0f0;
    transition: background 0.3s ease;
}

.formInput::placeholder {
    color: #aaa;
}

.formButton {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    color: #fff;
    background: #007BFF;
    cursor: pointer;
    transition: background 0.3s ease;
}

.formButton:hover {
    background: #0056b3;
}

@media (max-width: 768px) {
    .formContainer {
        flex-direction: column;
        align-items: center;
    }

    .searchInput {
        margin-bottom: 10px;
        margin-right: 0;
    }
}