.movieList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.movieItem {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    align-self: center;
    transition: transform 0.3s;
    width: 140px;
    background-color: #C9C1B1;
}

.movieItem:hover {
    transform: scale(1.05);
}

.movieLink {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.moviePoster {
    width: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.movieTitle {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    width: 120px;
    height: 30px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .movieTitle {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {

    .movieTitle {
        font-size: 16px;
        height: 38px;
    }
}